/* BASE */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: poppins, sans-serif;
}

:root{
    --corPrincipal: #512da8;
    --corBotoes: #7e57c2;
    --corBotoesHover: #673ab7;
    --corTextos: white;
    --corFundo: #5f39b6;
    
}   

.flex{
    display: flex;
    align-items: center;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilização do documento */
body{
    background-color: var(--corFundo);
}

.wrapper{
    width: 100vw;
    height: 100vh;
}

.image-wrapper{
    width: 50vw;
    justify-content: center;
}

.image-wrapper img{
    width: 80%;
    height: 80vh;
}

.stopwatch-wrapper{
    width: 50vw;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    user-select: none;
}

.stopwatch{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid var(--corTextos);
    justify-content: center;
}

.numbers-stopwatch{
    color: var(--corTextos);    
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

.buttons-wrapper{
    width: 100%;
    justify-content: space-evenly;

}

.btn{
    width: 80px;
    height: 40px;
    cursor: pointer;
    transition: all ease .5s;
    
    background: var(--corBotoes);
    color: white;
    font-weight: 800;
    border: none;
    border-radius: 20px;
}
.btn:hover{
    background-color: var(--corBotoesHover);
    transform: translate(0, -2px);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    letter-spacing: .5px;
}
.btn:active{
    transform: translate(0, 2px);
    box-shadow: none;
}

.circle{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--corPrincipal);
    clip-path: circle(60% at right 50%);
    z-index: -1;
}


